body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #0f1218;
    color: #e9ecef;
    margin: 0;
    padding: 20px;
}

h1, h2, p {
    color: #e9ecef;
}

p {
    line-height: 1.8;
    margin-bottom: 1.5rem;
    font-size: 1.4rem;
    opacity: 0.95;
    letter-spacing: 0.02em;
}

.lead {
    font-size: 1.25rem;
    font-weight: 300;
    color: #8b9299;
    text-shadow: 0 0 10px rgba(13, 110, 253, 0.3);
}

h1 {
    font-weight: 700;
    margin-bottom: 1rem;
    font-size: 2.5rem;
    background: linear-gradient(90deg, #0d6efd, #6610f2);
    padding: 20px;
}

.control-panel {
    background-color: #16202d;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    padding: 1.5rem;
    margin-bottom: 2rem;
    border-left: 4px solid #0d6efd;
}

input[type="date"], input[type="text"] {
    background-color: #1a2634;
    border: 1px solid #2c3e50;
    color: #e9ecef;
    padding: 0.5rem;
    border-radius: 4px;
    margin-right: 10px;
}

input[type="date"]:focus, input[type="text"]:focus {
    outline: none;
    border-color: #0d6efd;
    box-shadow: 0 0 0 2px rgba(13, 110, 253, 0.25);
}

button {
    border-radius: 4px;
    font-weight: 500;
    padding: 0.5rem 1.2rem;
    transition: all 0.3s;
    margin-right: 10px;
    margin-top: 0;
    background: linear-gradient(135deg, #0d6efd, #0a4171);
}

button:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background: linear-gradient(135deg, #0a4171, #0d6efd);
}

pre {
    background-color: #16202d;
    padding: 1.5rem;
    border-radius: 8px;
    border: 1px solid #2c3e50;
    color: #e9ecef;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    overflow: auto;
}

table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    margin-top: 20px;
    background-color: #202d3f;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(254, 83, 83, 0.1);
    table-layout: fixed; /* קובע רוחב קבוע לכל עמודה */
}

th, td {
    padding: 12px;
    border-bottom: 1px solid #2c3e50;
    border-right: 1px solid #2c3e50;
    border-left: 1px solid #2c3e50;
    color: #e9ecef;
    text-align: left;
    word-wrap: break-word; /* שבירת מילים */
    white-space: normal; /* אפשרות לרדת שורה */
    overflow-wrap: break-word; /* שבירה במקרה הצורך */
}

th {
    background: linear-gradient(90deg, #0d6efd, #6610f2);
    color: white;
    font-weight: 600;
    border-bottom: 2px solid #ffffff;
}

td {
    max-width: 300px; /* מגביל את רוחב התא */
}

tr:hover {
    background-color: rgba(13, 110, 253, 0.1);
}

tr:last-child td {
    border-bottom: none;
}


#keystrokesOutput {
    margin-top: 20px;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: #16202d;
}

::-webkit-scrollbar-thumb {
    background: #2c3e50;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: #0d6efd;
}

